.footer {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  max-width: 100%;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  align-self: stretch;
  padding: 50px;
}
